
body {
    margin: 50px auto;
    padding: 0;
    background-color: blanchedalmond;
}

#title {
    margin: 30px auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

#counter {
    margin: 30px auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    font-weight: bolder;
}

#btn-container {
    margin: 50px auto;
    text-align: center;
}

#increase-btn, #decrease-btn, #reset-btn {
    border-radius: 20px;
    padding: 20px 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: skyblue;
    border-style: outset;
    border
}

#reset-btn {
    margin-left: 50px;
    margin-right: 50px;
}